.star1 {
    color: yellow;
}
/* .star2 {
    color:dimgray;
    outline: yellow;
} */
.star3 {
    color: dimgrey;
    text-shadow: 0 0 1px yellow;
}

.star2 {
    color: blue;
    text-shadow: none;
    border: 1px solid yellow;
    padding: 0 2px;
}